<a href="https://colab.research.google.com/github/jeonjnh/python_colab_exercise/blob/main/Python_datatype_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set in Python


> A set is a collection of unique data. That is, elelments of  a set cannnot be duplicate. For example, Suppose we want to store information about student IDs. Since student IDs cannot be duplicate, we can use a set.

## Create a Set in Python

In [1]:
# craete a set of integer type
student_id = {112,114,116,118,115}
print('student ID:',student_id)

student ID: {112, 114, 115, 116, 118}

In [2]:
#create a set of string type
vovwel_letters = {'a','e','i','o','u'}
print('vovwel_letters:',vovwel_letters)

vovwel_letters: {'o', 'e', 'u', 'a', 'i'}

In [3]:
# create a set of mixed data type
mixed_set = {'hello',101,-2,'bye'}
print('mixed set:', mixed_set)

mixed set: {'hello', 101, -2, 'bye'}

## Create an Empty Set in Python


> Empty curly braces {} will make an empty dictionary in python. To make a set without any elements, we use the set() function without argumnent.

In [5]:
# create an empty set
empty_set = set()

# create an empty dictionary
empty_dictionary = { }

# check data type of empty_set, empty_dictionary
print('Data type of empty_set',type(empty_set))
print('Data type of empty_dictionary',type(empty_dictionary))

Data type of empty_set <class 'set'>
Data type of empty_dictionary <class 'dict'>

## Duplicate Item in a Set

In [6]:
numbers = {2,4,6,6,2,8}
print(numbers)

{8, 2, 4, 6}

## Add and Update Set Items in Python

In [7]:
numbers = {21,34,54,12}
print('Initial Set:', numbers)

Initial Set: {34, 12, 21, 54}

In [8]:
# using add() method
numbers.add(32)
print(numbers)

{32, 34, 12, 21, 54}

In [9]:
# using update() method
companies = {'Lacoste','Ralph Lauren'}
tech_comanies = ['apple','google','apple']
companies.update(tech_comanies)

print(companies)

{'Lacoste', 'Ralph Lauren', 'google', 'apple'}

In [10]:
# using discard() method
languages = {'Swift','Java','Python'}
print('Initial Set:', languages)

# remove 'Java' from a set
removedValue = languages.discard('Java')
print('Set after remove():', languages)

Initial Set: {'Python', 'Swift', 'Java'}
Set after remove(): {'Python', 'Swift'}

## Built-in Functions with Set


> Built-in functions like all(), any(), enumerate(), len(), max(), min(), sorted(), sum() etc. are commonly used with sets to perform different tasks.

## Python Set Operation

### Union of Two Sets


> The union of two sets A and B include all the elements of set A and B.
> We use the | operator or the union() method to perform the set union operation.

In [12]:
# first set
A = {1,3,5}
# second set
B = {0,2,4}

# perform union operatio using |
print('Union using |:', A | B)
print('Union using union():', A.union(B))

Union using |: {0, 1, 2, 3, 4, 5}
Union using union(): {0, 1, 2, 3, 4, 5}

### Set Intersection
> The intersection of two sets A and B include the common elements between set A and B.
> In Python, we use the & operator or the intersection() method to perform the set intersection operation.

In [14]:
# first set
A = {1,3,5}
# second set
B = {1,2,3}

# perform intersection operation using &
print('Intersection using &:', A&B)
print('Intersection intersection():', A.intersection(B))

Intersection using &: {1, 3}
Intersection intersection(): {1, 3}

### Diffence between Two Sets
> The difference between two sets A and B include elements of set A that are not present on set B.
> We use the - operator or the difference() method to perform the difference between two sets.

In [16]:
# first set
A = {2, 3, 5}

# second set
B = {1, 2, 6}

# perform difference operation using -
print('Difference using - :', A-B)

# perform difference operation difference()
print('Difference using difference() :', A.difference(B))

Difference using - : {3, 5}
Difference using difference() : {3, 5}

### Set Symmetric Difference
> The symmetric difference between two sets A and B includes all elements of A and B without the common elements.
> In Python, we use the ^ operator or the symmetric_difference() method to perform symmetric difference between two sets.

In [17]:
# first set
A = {2, 3, 5}

# second set
B = {1, 2, 6}

# perform symmetric_difference operation using ^
print('Symmetric Difference using ^ :', A^B)

# perform difference operation difference()
print('Symmetric Difference using symmetric_difference() :', A.symmetric_difference(B))

Symmetric Difference using ^ : {1, 3, 5, 6}
Symmetric Difference using symmetric_difference() : {1, 3, 5, 6}